@font-face {
  font-family: "Formular";
  src: url("../fonts/Formular-Bold.woff2") format("woff2"),
    url("../fonts/Formular-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Formular Mono";
  src: url("../fonts/FormularMono.woff2") format("woff2"),
    url("../fonts/FormularMono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Formular";
  src: url("../fonts/Formular-Medium.woff2") format("woff2"),
    url("../fonts/Formular-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unica One";
  src: url("../fonts/UnicaOne-Regular.woff2") format("woff2"),
    url("../fonts/UnicaOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZIGZAG";
  src: url("../fonts/ZIGZAG-NotRounded.woff2") format("woff2"),
    url("../fonts/ZIGZAG-NotRounded.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Patrima Outline";
  src: url("../fonts/Patrima-Outline.woff2") format("woff2"),
    url("../fonts/Patrima-Outline.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#page-about {
  width: 90%;
  max-width: 1100px;

  /*Alinhamento de caixa pelo lado de fora*/
  margin: 0 auto;
}

#page-about header {
  margin-top: 48px;
  padding-left: 30px;
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-about header a {
  color: #3f496b;
  font-family: "Unica One";
  font-size: 30px;

  display: flex;
  align-items: center;
}

#page-about header a span {
  margin-right: 16px;
  background-image: url("../assets/seta_branca.png");
  padding-right: 20px;
  display: flex; /*dentro da mesma div vc coloca o display flex pra fazer flexbox*/
  width: 10px;
  height: 22.5px;
}

#page-about header .voltar {
  display: none;
}

.imagine-txt {
  height: 100px !important;
}

.observation {
  color: #6d6d6d;
  margin-top: 60px;
}

.create-point-head {
  padding-top: 40px;
  padding-left: 30px;
}

.create-point-head h1 {
  padding-top: 40px;
  font-size: 260%;
  font-family: "Patrima Outline";
  color: #3f496b;
}

.create-point-head h2 {
  padding-top: 20px;
  font-size: 120%;
  font-family: "Unica One";
  color: #3f496b;
}

.create-point-head h3 {
  padding-top: 20px;
  font-size: 30px;
  font-family: "Unica One";
  color: #3f496b;
}

#results {
  font-size: 15px;
  font-family: "Unica One";
  color: #3f496b;
  cursor: pointer;
}

#results-top {
  font-size: 15px;
  font-family: "Unica One";
  color: #342374;
}

#results .address:hover {
  color: #342374;
}

#point-created .check-txt {
  font-size: 15px;
  font-family: ZIGZAG;
  color: #342374;
}

.telas-app ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  list-style-type: none;
}

.telas-app ul li img {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 75%;
  height: 65%;
}

.social {
  margin-top: 80px;
  margin-left: 3%;
  margin-right: 7%;

  color: #8d8d8d;
}

.social-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}

.social .partner {
  width: 350px;
}

.social-items .left-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social a {
  font-size: 12px;
  font-family: Formular Mono !important;
  color: #8d8d8d;
}
#insta {
  padding-top: 3%;
  width: 20%;
  height: 46%;
}

#dgartes {
  padding-top: 3%;
  width: 100%;
}

#gplay {
  width: 75%;
  height: 75%;
}

@media (max-width: 900px) {
  #page-about header {
    padding-left: 30px;

    padding-right: 10px;
  }

  #page-about header a {
    padding-left: 10px;
    font-size: 110%;
    padding-right: 10px;
  }

  .create-point-head h1 {
    font-size: 190%;
  }

  .create-point-head h2 {
    font-size: 100%;
  }

  .telas-app ul li {
    padding: 0px;
  }

  .telas-app ul li img {
    width: 85%;
    height: 75%;
  }

  #img-tela {
    display: none;
  }

  #insta {
    width: 20%;
    height: 56%;
  }

  #dgartes {
    padding-top: 3%;
    width: 100%;
  }

  #gplay {
    width: 75%;
    height: 75%;
  }

  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social .partner {
    margin-top: 20px;
  }

  .social-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
  }

  .social-items p {
    text-align: center;
  }

  .social-items .left-items {
    display: flex;
    flex-direction: column;
  }

  .left-items a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .partner a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
