@font-face {
  font-family: "Formular";
  src: url("fonts/Formular-Bold.woff2") format("woff2"),
    url("fonts/Formular-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Formular Mono";
  src: url("fonts/FormularMono.woff2") format("woff2"),
    url("fonts/FormularMono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Formular";
  src: url("fonts/Formular-Medium.woff2") format("woff2"),
    url("fonts/Formular-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unica One";
  src: url("fonts/UnicaOne-Regular.woff2") format("woff2"),
    url("fonts/UnicaOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ZIGZAG";
  src: url("fonts/ZIGZAG-NotRounded.woff2") format("woff2"),
    url("fonts/ZIGZAG-NotRounded.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Patrima Outline";
  src: url("fonts/Patrima-Outline.woff2") format("woff2"),
    url("fonts/Patrima-Outline.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*
#page-home {
  height: 100vh;

  background-image: url("../assets/linha_amarela3.png");
  background-repeat: no-repeat;

  background-position: 00% 0%;
}
*/
/*
#page-home .content {
  width: 90%;
  max-width: 1100px;
  height: 100%;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#page-home header {
  margin-top: 48px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-home header a {
  display: flex;

  color: var(--title-color);
  font-weight: 700;
}

#page-home header a span {
  margin-right: 16px;
  display: flex;

  background-image: url("../assets/log-in.svg");

  width: 20px;
  height: 20px;
}
*/
/*
#page-home main {
  max-width: 100%;
}

#page-home main p {
  font-size: 24px;
  line-height: 38px;
  margin-top: 24px;
}


.content-left {
  display: flex;
  flex-flow: column wrap;
}

/* MENU ESCAMA */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 100px;
}

.inner-content {
  width: 87%;
  max-width: 1200px;
}

.find {
  position: relative;
}

#seta {
  position: absolute;
  width: 85px;
  top: -95px;
}

@media (max-width: 1250px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 70px;
  }

  .inner-content {
    width: 90%;
    max-width: 1300px;
  }

  #seta {
    position: absolute;
    width: 60px;
    top: -60px;
    left: 25px;
  }
}

@media (max-width: 1000px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 65px;
  }

  .inner-content {
    width: 100%;
    max-width: 1300px;
  }

  #seta {
    position: absolute;
    width: 60px;
    top: -60px;
    left: 60px;
  }
}

@media (max-width: 1000px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 65px;
  }

  .inner-content {
    width: 100%;
    max-width: 1300px;
  }
}

.content a {
  background-image: url("https://editor.p5js.org/anastacio/full/2dWkDXUKg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: rgba(245, 244, 240) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-bar {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Unica One";
  font-size: 20px;
  width: 100%;
  height: 80px;
  line-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top-bar-mobile {
  display: none;
}

.mobile-header {
  display: none;
}

.hamburger {
  background: none;
  line-height: 45px;
  color: #999;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}

.cross {
  background: none;
  color: #999;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  transform: translateY(10px);
}

.logo_escama {
  width: 30px;
  height: 30px;
}

.logo_aumentada {
  width: 24%;
}

.menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f1f1f1;
  position: absolute;
  text-align: center;
  font-size: 12px;
  position: relative;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.menu li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}

.menu li:hover {
  display: block;
  background: #ffffff;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}

.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #666;
}

.menu ul li a:hover {
  color: #666;
  text-decoration: none;
}

.menu a {
  text-decoration: none;
  color: #666;
}

.menu a:hover {
  text-decoration: none;
  color: #666;
}

.glyphicon-home {
  color: white;
  font-size: 1.5em;
  margin-top: 5px;
  margin: 0 auto;
}
header {
  display: inline-block;
  font-size: 20px;
}

a {
  color: #336699;
}

/* FIM MENU ESCAMA */

/* WEB ESCAMA */

li {
  list-style-type: none;
}

.azulejo-wrapper {
  margin-top: 100px;
}

#img_main {
  padding-bottom: 15px;
  width: 100%;
  height: 100%;
}

.img_menu {
  display: flex;
  flex-flow: column wrap;
}
.img_menu a {
  width: 220px;
  font-family: "Patrima Outline";
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.img_menu strong {
  text-align: center;
}

.ilustration {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 0px 180px;
}

#imgAR {
  align-items: flex-end;
  width: 80px;
}

#seta1 {
  width: 30%;
  height: 30%;
}

#seta2 {
  float: right;
  width: 30%;
  height: 30%;
}

.azulejo ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1350px) {
  .img_menu a {
    width: 200px;
  }
}

@media (max-width: 1150px) {
  .img_menu a {
    width: 180px;
  }
}

@media (max-width: 1000px) {
  .img_menu a {
    width: 180px;
  }
}

@media (max-width: 1000px) {
  .azulejo li {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    height: 300px;
  }

  .azulejo-wrapper {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center !important;
    align-items: center;
  }
}

@media (max-width: 900px) {
  #seta {
    position: absolute;
    width: 60px;
    top: -30px;
    left: 60px;
  }
}

@media (max-width: 750px) {
  .azulejo li {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    height: 300px;
  }

  .azulejo-wrapper {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    justify-content: center !important;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .azulejo li {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    height: 300px;
  }

  .azulejo-wrapper {
    display: grid !important;
    grid-template-columns: 1fr;
    justify-content: center !important;
    align-items: center;
  }

  #seta {
    position: absolute;
    width: 60px;
    top: -30px;
    left: 90px;
  }
}

.social-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 75px;
}

.social .partner {
  width: 350px;
}

.social-items .left-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social a {
  font-size: 12px;
  font-family: Formular Mono !important;
  color: #8d8d8d;
}

#insta {
  width: 18%;
  height: 38%;
}

#dgartes {
  width: 100%;
}

#gplay {
  width: 65%;
  height: 65%;
}

/* FIM WEB ESCAMA */

/* Mobile */

@media (max-width: 900px) {
  /*
  .main-content-mobile {
    display: block;
  }
  .titulo-mobile {
    font-size: 400%;
  }

  .main-content {
    display: none;
  }
  */
  .content {
    margin-left: 2%;
    margin-right: 2%;
    padding: 30px 5% 0px 5%;
  }

  body {
    background-color: rgba(245, 244, 240);
  }

  .azulejo ul li {
    padding-top: 30px;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding-top: 30px;
    padding-bottom: 10%;
  }

  .mobile-header {
    font-family: "Unica One";
    font-size: 125%;

    line-height: 60px;
  }

  .hamburger {
    font-size: 160%;
    padding: 18% 8% 0px 0px;
  }

  .cross {
    font-size: 260%;
    padding: 18% 8% 0px 0px;
  }

  .top-bar {
    display: none !important;
  }

  .top-bar-mobile {
    display: inline-block;
    border-top: 1px solid;
    font-family: "Unica One";
    font-size: 130%;
    line-height: 60px;
    padding-bottom: 10%;
  }

  .top-bar-mobile img {
    width: 40%;
    height: 40%;
  }

  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 75px;
  }

  .social-items .left-items {
    display: flex;
    flex-direction: column;
  }

  .left-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .logo_escama {
    width: 18%;
    height: 45%;
  }

  #imgAR {
    display: none;
  }

  #insta {
    padding-top: 3%;
    width: 40px;
  }

  #dgartes {
    padding-top: 3%;
    width: 100%;
    margin-bottom: 30px;
  }

  #gplay {
    max-width: 200px;
  }

  .social-items div {
    padding-top: 10%;
    text-align: center;
  }

  .social-items {
    margin-top: 0px;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .social-items p {
    text-align: center;
  }

  .social-items li {
    text-align: center;
  }

  .social-items img {
    margin: 0 !important;
  }
}

/* FIM Mobile */

/* FIM WEB CAROUSEL */

/*
.btn-top p {
  padding-left: 100px;
}
*/

/*
.titulo {
  font-size: 640%;
  text-transform: uppercase;
  font-family: Formular !important;
  margin: 100px;
  color: Black;
}

.social {
  margin-top: 50px;
  margin-left: 60px;
  flex: 1;
  color: #8d8d8d;
  text-decoration: underline;
}

.social a {
  font-size: 16px;
  font-family: Formular Mono !important;
  color: #8d8d8d;
  text-decoration: underline;
}

.content-right {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
}

.btn-top {
  padding-top: 10px;
  padding-left: 200px;
  font-family: Formular !important;
  font-size: 15px;
  width: 300px;
}

.social-items li {
  display: inline;
  padding-left: 5%;
}
*/
/*
#page-home span {
  padding-top: 300px;
  width: 300px;
  font-family: Formular !important;
  font-size: 25px !important;
  text-align: right !important;
  align-content: right !important;
}
*/
/*
#page-home span img {
  padding-left: 60px;
}

.social-mobile {
  display: none;
}

@media (max-width: 900px) {
  .main-content {
    flex-flow: row wrap;
  }

  .social {
    display: none;
  }

  .social-mobile {
    width: 350px;
    padding-top: 50px;
    display: flex;
    flex-flow: row wrap;
  }

  .social-mobile a {
    font-size: 14px;
    color: #8d8d8d;
    text-decoration: underline;
    margin-top: 20px;
    margin-left: 60px;
  }

  .social-items-mobile li {
    display: inline-flex;
    padding-top: 10px;
    padding-left: 5%;
    justify-content: space-between;
    align-content: center;
  }

  .social-mobile-agenda {
    margin-left: 20px;
  }
  #page-home {
    height: 120vh;

    background-image: url("../assets/linha_amarela2.png");
    background-repeat: no-repeat;

    background-position: 00% 0%;
  }
  .titulo {
    font-size: 240%;
    text-transform: uppercase;
    font-family: Formular !important;
    margin: 50px;
  }

  .btn-top {
    padding-top: 20px;
    padding-right: 100px;
    font-size: 20px;
    width: 100%;
    text-align: right;
    font-family: Formular !important;
  }

  #page-home span {
    padding-top: 20px;
    width: 100%;
    padding-right: 100px;
    font-family: Formular !important;
    font-size: 20px !important;
    text-align: right !important;
    align-content: right !important;
  }
}
*/
/*
.main-content-mobile {
  display: none;
}

/* Mobile */
/*
@media (max-width: 900px) {
  .main-content-mobile {
    display: block;
  }
  .titulo-mobile {
    font-size: 400%;
  }

  .main-content {
    display: none;
  }
}
*/
